#include ".Xresources.d/snazzy"

! resolution & colors
Xft.dpi: 82 
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt*geometry: 120x40
URxvt*depth: 32
!URxvt*background: rgba:0000/0000/0000/dddd
URxvt*internalBorder: 26

!URxvt*foreground: #ffffff
URxvt*fading: 40

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt*termName: rxvt-256color
URxvt.urgentOnBell: true

!-------------------------------------------------------------------------------
! fonts
!URxvt*font: xft:DejaVu Sans Mono for Powerline:size=11
URxvt*font: xft:DejaVu Sans Mono for Powerline:style=Bold:size=11
!URxvt*font: xft:Inconsolata for Powerline:style:BoldForPowerline:size=15
!-------------------------------------------------------------------------------
URxvt*saveLines: 10000
URxvt*scrollBar: false

URxvt*cursorColor: white
URxvt*cursorColor2: #aaaaaa
